<section class="section-clients">
  <h3 id="clients">Clients</h3>
  <div class="client-controls">

    <div class="client-control-next">{% include icons/icons-next.html %}</div>
      <div class="client-control-prev">{% include icons/icons-prev.html %}</div>
</div>

<div class="clients-mobile-nav">
  {% for client in site.data.settings.clients%}
  <span></span>
  {%endfor%}
</div>

        <div class="clients-belt">

          {% for client in site.data.settings.clients%}
          <div class="client-unit">

            <div class="client-face">
              <img src="assets/img/clients/{{client.avatar}}" alt="">
              <strong class="client-name">{{client.name}}</strong>
              <em class="client-title">{{client.designation}}</em>
            </div>
            <div class="client-content">
              <div class="quote-mark">
                {% include icons/icons-quote.html %}
              </div>
              {{client.quote}}
              </div>

          </div>
{% endfor %}
        </div>

        <div class="clients-logo">
          {% for client in site.data.settings.clients %}
          <img class="client-logo" src="assets/img/clients/{{client.logo}}">

{% endfor %}
        </div>



  </section>
